[submodule "Arduino-Prog"]
	path = Arduino-Prog
	url = https://github.com/eddyst/Arduino-Prog.git
[submodule "projects/libraries/UIPEthernet"]
	path = projects/libraries/UIPEthernet
	url = https://github.com/ntruchsess/arduino_uip
[submodule "projects/libraries/Vitodens"]
	path = projects/libraries/Vitodens
	url = https://github.com/eddyst/Vitodens.git
[submodule "projects/libraries/Bounce2"]
	path = projects/libraries/Bounce2
	url = https://github.com/thomasfredericks/Bounce2.git
[submodule "SourceCode"]
	path = SourceCode
	url = https://github.com/arduino/Arduino.git
[submodule "projects/libraries/OneWire"]
	path = projects/libraries/OneWire
	url = https://github.com/PaulStoffregen/OneWire.git
[submodule "projects/libraries/PinChangeInt"]
	path = projects/libraries/PinChangeInt
	url = https://github.com/GreyGnome/PinChangeInt.git
[submodule "projects/libraries/Clock"]
	path = projects/libraries/Clock
	url = https://github.com/Megunolink/Clock.git
